<ion-header>
  <ion-toolbar>
    <ion-title>Simple Salary Calculation</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              Name:
            </ion-label>
            <ion-input [(ngModel)] = "name"  placeholder="Enter your name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Address:
            </ion-label>
            <ion-input [(ngModel)] = "address"  placeholder="Enter your address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button slot="end" (click)="open_formula(name, address)">Enter</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




  <ion-content *ngIf="FhideMe">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>
                Day of Work: {{ showWork }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                Salary per Day: {{ showSalary }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                Deduction: {{ showDeduct }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                Salary: {{showRes}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


