<ion-header>
  <ion-toolbar>
    <ion-title>GOLOYA_POGI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)] = "number" placeholder="Enter First Number"></ion-input>

            <ion-button slot="end" (click)="view_info(number)">View_Action_Info</ion-button>
          </ion-item>
          <ion-item>
           <ion-label> 
            Result:{{showRes}}
           </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  <!--<ion-input [{ngModel}]="no1" placeholder="Enter First Number: "></ion-input>-->






